@font-face {
    font-family: 'SEGA LOGO FONT';
    font-display: block;
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('./SEGA.woff') format('woff');
}

h1 {
    font-family: 'SEGA LOGO FONT';
    font-weight: 200;
    color: #325DAC;
}

h2 {
    color: #325DAC;
}

.bg-card {
    background-color: #6AC8E9;
}
